<!doctype html>
<html lang="en">
  <head>
    <title>CYBER ROOM</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <div class="headerr">
      <h1 style="padding: 20px; font-weight: bold;">Cyber ROOM</h1>
    </div>
    <div style="margin-top: 100px;margin-bottom: 30px; padding-left: 100px; display: flex;">
      <!-- <div>
        <h2>Realizar um donate!</h2>
        <div style="display:block;">
          <input type="text" placeholder="Nome"></input>
          <input type="number" placeholder="Valor em Cripto"></input>
        </div>
        <button type="button" id="btnDonate">DONATE</button>
      </div>
      <img src="/public/img/btc.png" style="max-width: 120px;">
    </div> -->
    </div>

    <div class="container-fluid container">
      <div class="row">
        <!-- Imagem -->
        <div class="col-sm-6 coluna">
          <div class="card">
            <img class="card-img-top" src="/public/img/Light_bulb_perspective_matte.png" style="display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
            max-width: 175px;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lâmpada</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <div style="display:inline-block">
                <label for="toggLamp" style="display: block;">Ligado</label>
                <select id="modoL" style="border-radius: 10px; border-color: #FFC229;">
                  <option value="0">Desligado</option>
                  <option value="1">Ligado</option>
                  <option value ="3">Piscar</option>
                </select>
                </label>
                <label for="blinkCBulb" style="display: block;">Blink Count</label>
                <input type="number" id="contagem" maxlenght="10" style="border-radius: 10px; border-color: #FFC229;"></input>
                <label for="blinkTBulb" style="display: block;" maxlenght="10">Blink Time</label>
                <input type="number" id="tempo" style="border-radius: 10px; border-color: #FFC229;"></input>
              </div>
              <div style="display:inline-block; padding-left: 10px;">
                <label for="colorBulb" style="display: block;">Color</label>
                <input type="color" id="rgb" ></input>
              </div>
              <div style="    padding-left: 30px;
              text-align: right;">
                
                <div style="text-align: right;">
                  <button type="button" id="btnDonate" class="btn" onclick="enviarLampada()">ENVIAR</button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 coluna">
          <div class="card">
            <img class="card-img-top" src="/public/img/Electric_socket_perspective_matte.png" style="display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
            max-width: 175px;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tomada</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <label for="toggSock" style="display: block;">Ligado</label>
              <label >
                <select id="modoT"  style="border-radius: 10px; border-color: #FFC229;">
                  <option value="0">Desligado</option>
                  <option value="1">Ligado</option>
                </select>
              </label>
              <div style="text-align: right;     padding-top: 133px;">
                <button type="button" id="btnDonate" class="btn" onclick="enviarTomada()">ENVIAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <script type="text/javascript">
   
   async function enviar(url) {
      try {
        const response = await fetch(url);
        const json = await response.json();
        if (!response.ok) {
          console.error("Erro! " + json);
        } else {
          console.log("Sucesso!");
        }
      } catch (ex) {
        console.log("Exceção: " + (ex.message || ex.toString()));
      }
    }

      let modoL=document.getElementById("modoL");
      let tempo=document.getElementById("tempo");
      let contagem=document.getElementById("contagem");
      let rgb=document.getElementById("rgb");
      let modoT=document.getElementById("modoT");

    function lampadaPower(modoL) {
      enviar("/lampada/Power/"+modoL);
    }

    function lampadaBlinkTime(tempo) {
      enviar("/lampada/BlinkTime/"+tempo);
    }

    function lampadaBlinkCount(contagem) {
      enviar("/lampada/BlinkCount/"+contagem);
    }

    function lampadaColor(rgb) {
      enviar("/lampada/color/"+rgb);
    }

    function tomadaPower(modoT) {
      enviar("/tomada/Power/"+modoT);
    }
   
    function enviarLampada(){
      lampadaPower(modoL.value);
      lampadaColor(rgb.value.replaceAll('#', ''));
      lampadaBlinkCount(contagem.value);
      lampadaBlinkTime(tempo.value);          
    }

    function enviarTomada(){    
     tomadaPower(modoT.value);
    }

    </script>
  </body>
</html>